@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;500;600&display=swap');

:root {
    --primary-color:#ffcc00; /* Replace with your desired primary color */
  }
  
  /* Optional: Override other Bootstrap colors as needed */
  :root {
    /* --primary: #ffcc99; */
    --secondary: #your-secondary-color;
    --success: rgb(69, 176, 69);
    --info: #8800ff;
    --warning: #ffcc00;
    --danger: #ff0000;
    --light: #f1f0f0;
    --dark: #383838;
    --primary: #001b54;
    --pink:#B71375;
  }


  
  /* Apply the custom colors to Bootstrap components */
  * {
    font-family: 'Noto Sans Thai', sans-serif;
    /* line-height: 2.5rem; */
    
  }

  .bg-pink {
    background-color: var(--pink);
    color:#fff;
  }

  .bg-pink:hover {
    background-color: var(--light);
    color: #001b54;
  }

  .carousel-control-next-icon {
    background-color: #001b54;
    color:#fff;
    border-radius: 50%;
  }
  .carousel-control-prev-icon {
    background-color: #001b54;
    color:#fff;
    border-radius: 50%;
  }

  /* Custom styles for the previous button */
.custom-prev-button {
  /* Your custom styles here */
  position:absolute;
  top:0%;
  padding:10px;
  left:0;
  color:#fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: #ffcc00;
  z-index: 1000;
  height:43px;
  width:43px;
  align-items: center;
  display: flex;
  justify-content: center;
  /* Add other styles as needed */
}

/* Custom styles for the next button */
.custom-next-button {
  position:absolute;
  top:0%;
  padding:10px;
  right:0;
  color:#fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: #ffcc00;
  z-index: 1000;
  height:43px;
  width:43px;
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.text {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



  .field-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}


  .bg-success {
    background-color: var(--success);
  }

  .card {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(20px);
  }

  .btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    border:none;

  }

  .swiper-button-prev {
    
    top:15%; 
    background-color: black; /* Change to the desired background color */
    
}

.swiper-button-next {
  top:15%;
    background-color: black; /* Change to the desired background color */
}


.swiper-button-prev,
.swiper-button-next {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}

.swiper-button-prev::before,
.swiper-button-next::before {
    font-size: 14px; /* Adjust the font size of the arrow icon */
}

  /* .bg-danger {
    background-color: var(--danger);
  }

  .bg-dark:hover {
    background-color: var(--light);
  }

  .bg-primary {
    
    background-color: var(--primary);
  }

  .bg-violet {
    background-color: #8800ff;
  }

  .bg-violet:hover {
    background-color: var(--light);
    color: #000000;
  }

  .btn-violet {
    background-color: #8800ff;
    color:#fff;
  }

  .btn-violet:hover {
    background-color: var(--light);
    color: #8800ff;
  }

  .badge:hover {
    cursor: pointer;
    background-color: var(--light);
    color: var(--dark);
  }
 

  .btn-primary:hover {
    background-color: var(--warning);
    border-color: var(--primary);
    border :none;
    color: var(--dark);
  } */

  .bg-violet {
    background-color: #8800ff;
  }

  .bg-violet:hover {
    background-color: var(--light);
    color: #000000;
  }

  .badge:hover {
    background-color: var(--light) !important;
    color: var(--dark);
  }

  li {
    list-style: none;
    justify-content: start;
    border-bottom: 1px solid var(--light);

  }
  /* You can add more styles as needed */
  
  /* @media screen and (max-width: 768px) {
    #myNavbar {
      position: absolute;
      bottom:0;
      width: 100%;
    }
    #myNavbar .navbar-nav {
      text-align: center;
      width: 100%;
      margin: 0;
    }
    #myNavbar .navbar-brand{
      display:none;
    }
  } */

  #back {
    position: fixed;
    top:95%;
    left: 10%;
    transform: translate(-50%, -0%);
    height:100px;
  }

  @media screen and (max-width: 768px) {
    #back {
      position: fixed;
      top:95%;
      left: 15%;
      transform: translate(-50%, -0%);
      height:100px;
    }
    
  }

  .badge:hover {
    cursor: pointer;
  }
  

  /*  chat css */
.joinChatContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;


}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom : 1rem;
}


.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 80vw;
  height: 50vh;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: #001b54;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}

.bg-pink:hover {
  background-color: var(--light);
  color: #001b54;
}

.badge>.bg-success:hover {
  cursor: pointer;
  background-color: var(--light);
  color: var(--dark);
}


/* end chat css */




